extends ../layout

block content
  header 
    a(href="/users/logout")
      p.logout Logout
    a(href="/lists")
      h1.logo LystMkr
  main 
    div.list
      div.side
      div.title 
        h1 To Do
      div.item
        input(type="checkbox" class="checkbox")
        p Build a muthafucking list maker
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
  footer
