extends ../layout

block content
  header 
    a(href="/users/logout")
      p.logout Logout
    a(href="/lists")
      h1.logo LystMkr
  main 
    div.list
      div.side
      div.title 
        h1 #{list.name}
      for item in list.items
        div.item
          input(type="checkbox" class="checkbox")
          p #{item}
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
      div.item
  footer
