extends ../layout

block content
  header 
    a(href="/users/logout")
      p.logout Logout
    a(href="/lists")
      h1.logo LystMkr
  main 
    form(method="post" action="/lists/" + list._id + "/edit")
      div.list
        div.side
        div.title 
          h1 #{list.name}
        for item in list.items
          div.item
            input(type="checkbox" class="checkbox")
            input(type="text" name="item" class="itemInput" value=item) 
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
        div.item
      input(type="submit" value="Save Edits" class="saveEdits")
    form(method="post" action="/lists/" + list._id + "/delete")
      input(type="submit" value="Delete List" class="saveEdits") 
  footer
