extends ../layout

block content
  header 
    a(href="/users/logout")
      p.logout Logout
    a(href="/lists")
      h1.logo LystMkr
  main 
    fieldset
      legend
      h1 New Lyst
      if errors
        p.errors #{errorMessage}
        for error in errors
          p.errors #{error}
      form(method="post" action="/lists/new")
        input(name="title" placeholder="Title" class="inputTitle") 
        p
        input(type="checkbox" id="item" class="checkbox hidden" name="checkItem")
        label(for="item")
          input(name="item" placeholder="Item")
        p
        input(type="checkbox" id="item1" class="checkbox hidden" name="checkItem1")
        label(for="item1")
          input(name="item1" placeholder="Item")
        p
        input(type="checkbox" id="item2" class="checkbox hidden" name="checkItem2")
        label(for="item2")
          input(name="item2" placeholder="Item")
        p
        input(type="checkbox" id="item3" class="checkbox hidden" name="checkItem3")
        label(for="item3")
          input(name="item3" placeholder="Item")
        p
        input(type="checkbox" id="item4" class="checkbox hidden" name="checkItem4")
        label(for="item4")
          input(name="item4" placeholder="Item")
        p
        input(type="checkbox" id="item5" class="checkbox hidden" name="checkItem5")
        label(for="item5")
          input(name="item5" placeholder="Item")
        p
        input(type="checkbox" id="item6" class="checkbox hidden" name="checkItem6")
        label(for="item6")
          input(name="item6" placeholder="Item")
        p
        input(type="checkbox" id="item7" class="checkbox hidden" name="checkItem7")
        label(for="item7")
          input(name="item7" placeholder="Item")
        p
        input(type="checkbox" id="item8" class="checkbox hidden" name="checkItem8")
        label(for="item8")
          input(name="item8" placeholder="Item")
        p
        input(type="checkbox" id="item9" class="checkbox hidden"  name="checkItem9")
        label(for="item9")
          input(name="item9" placeholder="Item")
        //- div#extra
        //- p
        //- p(href="/additional" class="additional") +
        p
        input(type="submit" value="Create Lyst" class="button")
  footer
