extends ../layout

block content
  header 
    h1.logo LystMkr
  main 
    h1 New List
    if errors
      p.errors #{errorMessage}
      for error in errors
        p.errors #{error}
    form(method="post" action="/lists/new")
      input(name="title" placeholder="title") 
      p
      input(name="item" placeholder="item")
      p
      input(type="submit" value="Create List")
  footer
