extends ../layout

block content
  header 
    a(href="/users/logout")
      p.logout Logout
    a(href="/lists")
      h1.logo LystMkr
  main 
    fieldset
      legend
      h1 New Lyst
      if errors
        p.errors #{errorMessage}
        for error in errors
          p.errors #{error}
      form(method="post" action="/lists/new")
        input(name="title" placeholder="Title") 
        p
        input(name="item" placeholder="Item")
        p
        a(href="/additional" class="additional") +
        p
        input(type="submit" value="Create Lyst" class="button")
  footer
