extends ../layout

block content
  header 
    a(href="/users/logout")
      p.logout Logout
    a(href="/lists")
      h1.logo LystMkr
  main
    if lists
      for list in lists
        a(href="/lists/" + list._id + "/edit")
          div.listAll
            div.sideAll
            div.titleAll 
              h1 #{list.name}
            for item in list.items
              div.itemAll
                if item.check
                  input(type="checkbox" class="checkbox" checked disabled)
                else
                  input(type="checkbox" class="checkbox" disabled)
                p #{item.name}
    else
      div.noLists
        h3 You don't have any shared lysts yet!
  footer
