input {
  height: 40px;
  width:400px;
  background-color: $white;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  color: $darkpurple;
  border: 1px solid $darkpurple;
  padding-left: 10px;
  padding-right: 10px;
}

fieldset {
  width: 30%;
  height: 400px;
  margin: 0 auto;
  background-color: $white;
  margin-top: 40px;
  border: 2px solid $darkpurple;
  overflow: auto;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
}

.button {
  width: 120px;
  height: 40px;
  font-family: Laila, sans-serif;
  font-weight: bold;
  color: $orange;
  border: 2px solid $darkpurple;
}

.button:hover {
  cursor: pointer;
}

.additional {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: $blue;
  color: $darkpurple;
  border-radius: 5px;
}
.additional:hover{
  cursor: pointer;
}
