input {
  height: 40px;
  width:400px;
  background-color: $white;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  color: $darkpurple;
  border: 1px solid $darkpurple;
  padding-left: 10px;
  padding-right: 10px;
}

fieldset {
  width: 30%;
  height: 720px;
  margin: 0 auto;
  background-color: $white;
  margin-top: 40px;
  border: 2px solid $darkpurple;
  overflow: auto;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

fieldset.login {
  height: 300px;
}

fieldset.signup {
  height: 400px;
}

.button {
  width: 120px;
  height: 40px;
  font-family: Laila, sans-serif;
  font-weight: bold;
  color: $orange;
  border: 2px solid $darkpurple;
}

.button:hover {
  cursor: pointer;
}

.additional {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: $blue;
  color: $darkpurple;
  border-radius: 5px;
}
.additional:hover{
  cursor: pointer;
}

.itemInput {
  height: 25px;
  width:550px;
  background-color: $white;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  color: $darkpurple;
  border: 1px solid $white;
  padding-left: 10px;
  padding-right: 10px;
}

.inputTitle {
  border: 2px solid $darkpurple;
}

.saveEdits {
  float: left;
  width: 120px;
  height: 40px;
  font-family: Laila, sans-serif;
  font-weight: bold;
  color: $orange;
  border: 2px solid $darkpurple;
  margin: 30px;
}

.saveEditButton {
  float: left;
  width: 120px;
  height: 40px;
  font-family: Laila, sans-serif;
  font-weight: bold;
  color: $orange;
  border: 2px solid $darkpurple;
  margin: 30px;
  margin-top: 600px;
  position: absolute;
}

.deleteButton {
  float: left;
  width: 120px;
  height: 40px;
  font-family: Laila, sans-serif;
  font-weight: bold;
  color: $orange;
  border: 2px solid $darkpurple;
  margin: 30px;
  margin-top: 106px;
  margin-left: 200px;
}

.saveEdits:hover {
  cursor: pointer;
}

.deleteButton:hover {
  cursor: pointer;
}

.saveEditButton:hover{
  cursor: pointer;
}
.hidden {
  visibility: hidden;
  display: none;
}

.sharedEmail {
  float: left;
  margin-left: 30px;
  width: 35%
}

.checkbox:hover {
  cursor: pointer
}

.inputAll {
  text-overflow: ellipsis;
}
