extends layout

block content
  header 
    h1.logo LystMkr
  p
  fieldset.login
    legend
    h1 Login
    if errors
      for error in errors
        p.errors #{error}
      form(method="post" action="/users/login")
        input(type="text" name="email" value=email)
        p
        input(type="password" name="password" placeholder="Password")
        p
        input(type="submit" value="Login" class="button")
    else
      form(method="post" action="/users/login")
        input(type="text" name="email" placeholder="Email")
        p
        input(type="password" name="password" placeholder="Password")
        p
        input(type="submit" value="Login" class="button")
    p
    p Don't have an account? 
      a(href="/users/signup") Sign Up!
