extends ../layout

block content
  h1 LystMkr
  p
  h1 Sign Up
  if errors
    p.errors #{errorMessage}
    for error in errors
      p.errors #{error}
  form(method="post" action="/users/signup")
    input(type="text" name="username" placeholder="Username")
    p
    input(type="text" name="email" placeholder="Email")
    p
    input(type="password" name="createPassword" placeholder="Create Password")
    p
    input(type="password" name="confirmPassword" placeholder="Confirm Password")
    p
    input(type="submit" value="Sign Up")
